page-home {
  #map_canvas{
    display: block;
    height: 50%;
    width: 100%;
  }
  .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }

  .boton_1
  {
  aling:center;
    color: #f4f4f4;
    background-color: #D74D1A;
   }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }
}
